<div class="user-details">
  <h1> Research Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="massspectromatry" src="{{ "/assets/img/massspectromatry.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> RUMP: Reproducible Untargeted Metabolomics Data Processing Pipeline </h3>
    <ul>
      <li> Python, Groovy, Docker, Singularity</li>
    </ul>
    <p>Reproducibility remains a challenge for untargeted metabolomics data processing. Here we built a container-based untargeted metabolomics data processing software to enhance reproducibility and facilitate collaborative research.</p>
    <a class="project-link" href="https://github.com/lemaslab/RUMP">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="smarthospital" src="{{ "/assets/img/smarthospital.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Predicting In-hospital Mortality of Patients with Febrile Neutropenia Using Machine Learning Models </h3>
    <ul>
      <li> Python, Machine Learning</li>
    </ul>
    <p>Feasibility of using machine learning models to evaluate mortality risk for adult febrile neutropenia inpatients were evaluated. The result indicates machine learning algorithms achieved promising performance.</p>
    <a class="project-link" href="https://github.com/XinsongDu/FN_Mortality">Check it out</a>
  </div>
</div>
