<div class="user-details">
  <h1> Publications </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> 2020 </h3>
    <p><a href="https://www.sciencedirect.com/science/article/pii/S1386505619314078"> Predicting In-hospital Mortality of Patients with Febrile Neutropenia Using Machine Learning Models.</a></p>
    <p><u><strong>Xinsong Du</strong></u>, Jae Min, Chintan P Shah, Rohit Bishnoi, William R Hogan, Dominick J Lemas. International Journal of Medical Informatics. 2020.</p>
    <h3> 2018 </h3>
    <p><a href="https://link.springer.com/chapter/10.1007/978-3-030-11680-4_7"> An Operational Deep Learning Pipeline for Classifying Life Events from Individual Tweets.</a></p>
    <p><u><strong>Xinsong Du</strong></u>, Jiang Bian, Mattia Prosperi. SIMBIG 2018. September 03-September 05. Lima, Perú</p>
    <h3> 2017 </h3>
    <p><a href="https://www.jmir.org/2017/12/e414/"> Using Social Media Data to Understand the Impact of Promotional Information on Laypeople’s Discussions: A Case Study of Lynch Syndrome.</a> </p>
    <p>Jiang Bian, Yunpeng Zhao, Ramzi G Salloum, Yi Guo, Mo Wang, Mattia Prosperi, Hansi Zhang, <u><strong>Xinsong Du</strong></u>, Laura J Ramirez-Diaz, Zhe He, Yuan Sun. Journal of medical Internet research 19 (12):e414. PMID:29237586</a></p>
    </ul>
  </div>
</div>
